svg {
  font: 10px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

path {
  /*fill: #d3d3d3;*/
  fill:none;
  stroke: steelblue;
  stroke-width: 2;
}

.axis, .label {
  fill: #333333;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.refline {
  stroke: #930000 ;
  shape-rendering: crispEdges;
}

.bar {
  fill: #6363f3;
  fill-opacity: .9;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  line-height: 36px;
  text-align:   -webkit-auto;
  vertical-align:   baseline;
}

p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}