svg {
    /* font: 12px sans-serif;*/
}

.ctlhandle{margin:6px;}

.control {
    margin: 3px;
    padding: 3px;
    /*  width:220px;*/
    overflow: visible;
    border: 2px solid #FFFFFF;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 10px;
}

input, textarea, select, .uneditable-input {
    width: auto !important;
}

.chart-label-y{
    font-size:14px;
}
.chart-label-x{
    font-size:14px;
}
.chart-title{
    font-size:16px;
}

label{
    font-weight:500 !important;
}

.kill-margin{
    margin-left:5px !important;
}

.kill-padding{
    padding-left:5px !important;
    padding-right:5px !important;
}

.zero-padding-margin{
    padding:0;
    margin:0;
}